# ====================================
# Gradle
# ====================================
.gradle/
build/

# ====================================
# Gradle Wrapper - needs
# ====================================
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# ====================================
# IntelliJ IDEA
# ====================================
.idea/
*.iml

# ====================================
# Eclipse
# ====================================
.classpath
.project
.settings/

# ====================================
# VS Code
# ====================================
.vscode/

# ====================================
# OS
# ====================================
.DS_Store
Thumbs.db